$primary:#03234D;
$secondary:#0759E6;
$white:#ffffff;
$green-hover: #77BDA3;
$green100: #84E1A7;
$btn-hover: linear-gradient(90deg, rgb(210, 181, 241) 4.85%, rgb(171, 225, 250) 100%);
$light-blue:rgba(204, 216, 238, .16);
$pink:#F66A97;
$btn-gradient: linear-gradient(to right, rgb(106, 17, 203) 0%, rgb(119, 212, 255) 100%);
$dark-blue: #2D314E;
$active-link: linear-gradient(to right, rgb(106, 17, 203) 0%, rgb(119, 212, 255) 100%);
$gray: #959499;
$gray-light:#FAFAFA;
$gray50: #F9FAFB;
$gray100: #99989D;
$gray200: #F9F9F9;
$gray300: #D1D5DB;
$gray400: #E5E7EB;
$gray500: #6B7280;
$gray600: #494e57;